/* Default */
html, body {
  margin: 0;
  padding: 0;
}

/* Override */
* {
  font-family: 'Century Gothic';
}

/* Assets */
$black-color: #000;
$white-color: #fff;

.app-main {
  height: 100vh;

  /* Layout */
  display: grid;
  place-items: center;

  @import './home.scss';
  @import './todolist.scss';
}